@import "tailwindcss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #27272a; /* bg-zinc-900 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a1a1aa; /* bg-zinc-400 */
  border-radius: 10px;
  border: 2px solid #27272a; /* Matches track for a smooth look */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d4d4d8; /* Lighter zinc on hover */
}

body{
  scroll-behavior: smooth;
}

/* Slim, dark, modern scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f; /* same as bg-zinc-950 */
}

::-webkit-scrollbar-thumb {
  background-color: #3f3f46; /* zinc-700 */
  border-radius: 9999px;
  border: 1px solid #1c1c1c; /* slight border for depth */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #52525b; /* zinc-600 */
}

/* Firefox (optional) */
* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 #0f0f0f;
}


.inpbg:-webkit-autofill,
.inpbg:-webkit-autofill:hover,
.inpbg:-webkit-autofill:focus,
.inpbg:-webkit-autofill:active {
  background-color: #09090b !important; /* Match your bg-zinc-800 */
  -webkit-box-shadow: 0 0 0px 1000px #09090b inset !important;
  color: #ffffff !important;
  caret-color: white !important;
  opacity: 1 !important;
  -webkit-text-fill-color: white !important;
  appearance: none !important;
}

/* Default for Laptop/Desktop (≥1024px) */
.globalPadding {
  padding-inline: 0;
}

/* Mobile + Tablet (<1024px) */
@media (max-width: 1023px) {
  .globalPadding {
    padding-inline: 1.8rem; /* example: smaller spacing */
  }
}

.herodesc {
  margin-top: -2rem;
}

@media (max-width: 1023px) {
  .herodesc{
    margin-top: 0;
  }
}

.bottomsec {
  margin-block: 7rem;
}

@media (max-width: 1023px) {
  .bottomsec{
    margin-block:  2rem;
  }
}

.footer-padding {
  padding-block: 0;
}

@media (max-width: 1023px) {
  .footer-padding{
    padding-block: 1.5rem;
  }
}